body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom right, red, yellow);
}

.hero-text {
    font-size: 5.5rem;
}

.about-section {
    background-color: #152238;
}

.about-heading-section {
    padding-top: 15vh;
}

h2.about-heading-text {
    color: #5D76A9;
}

.about-heading-text {
    color: #f0f0f0;
}

p.about-heading-text {
    font-size: 0.95rem;
}

p a {
    color: #f0f0f0
}

.about-panel-section {
    background-color: #1c2e4a;
    padding: 5vw;
    margin-top: 5vh;
}

.about-main-list {
    color: #f0f0f0;
    text-align: left;
}

.about-skill-text {
    color: #f0f0f0;
}

.about-skill-icon {
    width: 5rem;
    height: 5rem;
}

