body {
    background-color: #152238;
    font-family: Arial;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

section {
    overflow: hidden;
}

.main > * {
    overflow-x: hidden;
}

.hero {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.hero-text {
    font-size: 5.5rem;
}

.textzoom {
    transition: transform .2s;
}

.textzoom:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.navbar {
    background: rgba(21, 34, 56, 0.7);
}

.nav-brand {
    color: #f0f0f0;
    font-size: 2rem;
    padding: 1vh 2vw;
}

.nav-link {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1vh 2vw;
    overflow-x: hidden;
}

.nav-text {
    color: #f0f0f0;
    font-size: 1.5rem;
    overflow-x: hidden;
}

.btn-text {
    color: #f0f0f0;
    font-size: 1rem;
    overflow-x: hidden;
}

.about-section {
    background-color: #152238;
}

.about-img {
    transition: transform .2s;
}

.about-img:hover {
    transform: scale(1.15);
}

.about-heading-section {
    padding-top: 15vh;
}

h2.about-heading-text {
    color: #5D76A9;
}

.about-heading-text {
    color: #f0f0f0;
}

p.about-heading-text {
    font-size: 1rem;
}

p a {
    color: #f0f0f0
}

.about-panel-section {
    background-color: #1c2e4a;
    width: 80%;
}

.about-main-list {
    color: #f0f0f0;
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.3;
}

.about-list-text {
    font-size: 1.3rem;
}


.about-skill-text {
    color: #f0f0f0;
}

.about-skill-icon {
    width: 5rem;
    height: 5rem;
    transition: transform 0.2s;

}

.about-skill-icon:hover {
    transform: scale(1.2);
}


.about-carousel {
    background-color: #152238;
    padding: 2vw;
}

.about-carousel-item {
    background-color: #1c2e4a;
    height: 75vh;
    container-type: inline-size;
}

.exp-text {
    font-size: 2.25cqh;
}

.exp-text-hyperloop {
    font-size: 2cqh;
}

.logo {
    height: 40%;
}

.work-skill {
    background-color:#5D76A9;
    font-size: 0.9rem;
}

.orbit-video {
    width: 100%;
    height: 100%;
}

.contact-panel {
    background-color: #1c2e4a;
    padding-block: 3vh;
    padding-inline: 3vw;
}

.contact-text-info {
    color: #f0f0f0;
}

label{
    display:flex;
    width: 100%;
    margin-bottom: 0.75vh;
}

input {
    display:flex;
    width: 100%;
    padding: 0.75vh 0.75vw;
    margin-bottom: 1.25vh;
    border-radius: 0.25rem;
}

textarea {
    display:flex;
    width: 100%;
    padding: 0.75vh 0.75vw;
    margin-bottom: 1.25vh;
    height: 30vh;
    border: black;
    border-radius: 0.25rem;
    resize: none;
}

.contact-button {
    color: #f0f0f0;
    padding: 0.75vh 1.5vw;
    margin-top: 1vh;
    border-radius: 0.5rem;
    cursor: pointer;
}

.footer {
    background-color: #152238;
    padding-top: 4vh;
}

#error {
    color: #f0f0f0;
    font-size: 1rem;
    margin-bottom: 1vh;
}
